/* General */

	@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,700italic,500italic,500);

	/* Fonts */

    @font-face {
      font-family: DanteMT;
      src: url(fonts/DanteMT.otf);
    }

    @font-face {
      font-family: DanteMT-italic;
      src: url(fonts/DanteMTStd-Italic.otf);
    }

    @font-face {
      font-family: Gotham;
      src: url(fonts/GothamCondensedMedium.otf);
    }

   	@font-face {
      font-family: Archer;
      src: url(fonts/Archer-Medium.otf);
    }

    @font-face {
      font-family: CandyScript;
      src: url(fonts/CandyScript.ttf);
    }

    @font-face {
      font-family: Monofonto;
      src: url(fonts/MonofontoRegular.ttf);
    }

    @font-face {
      font-family: Gelato;
      src: url(fonts/GelatoScript.otf);
    }

    @font-face {
      font-family: Knockout70;
      src: url(fonts/Knockout-HTF70-FullWelterwt.otf);
    }

	@font-face {
      font-family: Knockout71;
      src: url(fonts/Knockout-HTF71-FullMiddlewt.otf);
    }

    @font-face {
      font-family: LibelSuit;
      src: url(fonts/LibelSuit.ttf);
    }

    @font-face {
      font-family: Intro-Black-Inline;
      src: url(fonts/Intro-Black-Inline.otf);
    }

    @font-face {
      font-family: StardosStencil;
      src: url(fonts/StardosStencil-Regular.ttf);
    }


	.body_clase .content-wrapper {
		padding-top: 100px;
		font-family: 'Raleway', Georgia, serif;
		font-weight: 500;
		padding-bottom: 0;
	}
	.body_clase.edit .content-wrapper {
		padding-top: 40px;
		padding-bottom: 40px;
	}
		body.is_app .content-wrapper,
		body.app:not(.offline-pc) .content-wrapper,
		body.user_demo .content-wrapper {
	    margin-top: 60px;
	}

	.cke_contents  table {
		margin-bottom: 10px;
	}

	.is_app.content_type_clase_eli_demo {
		padding-top: 0px;
	}

	.content_type_clase_eli_demo #actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}

	#actividad .carousel-inner .item-container {
		background-image: none;
		margin: 20px auto 30px;
		padding: 0px;
		padding-bottom: 90px;
		position: relative;
	}

	.content_type_clase_eli_demo #actividad .content .header .title img,
	.content_type_clase_eli_demo #actividad .content .header .chapter {
		display: none;
	}

	#indice .units ul li a .number,
	#indice .unit-content .header .number
	 {
		visibility: hidden;
	}

	.content_type_clase_eli_demo #actividad .content .header {
		border: none;
	}

	.content_type_clase_eli_demo #actividad .content .header .title {
		margin-top: -40px;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	.content_type_clase_eli_demo #actividad .content .header .title h3 {
    	font-family: DanteMT-italic;
    	font-size: 5rem;
    	font-weight: 500;
    	color: #e65a53;
    	display: block;
    	padding: 20px 20px 20px 0px;
    	margin-top: 0px;
    	margin-bottom: 20px;
	}

	.content_type_clase_eli_demo #actividad .content .header .title h3 span {
		display: block;
		font-size:2.2rem;
		font-weight: 400;
	}

	.content_type_clase_eli_demo #actividad .texto_curso,
	.content_type_clase_eli_demo #actividad .slide_content_type_1 .pregunta .texto_curso {
		font-size: 2rem;
	}

	.content_type_clase_eli_demo .slide_main input {
    	color: #555;
    	background-color: #fff;
    	background-image: none;
    	margin-bottom: 3px;
    	border: 1px solid #ccc;
    	border-radius: 4px;
    	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}

	.slide_main input, .slide_main .img-input-container {
    	border: 1px solid transparent;
    	border-bottom-color: #CCC;
    	background-color: #f7f7f7;
    	height: 1.5em;
    	padding: 0 6px;
    	max-width: 100%;
	}

	.texto_curso input {
    	margin: 0px 2px;
	}

	.texto_curso p:last-of-type {
		margin-bottom: 15px;
	}

	#actividad .class_slide {
    	padding: 40px 120px 0px;
   	    font-family: DanteMT;
   	    text-align: justify;
	}

	#actividad .class_slide:last-of-type {
	    padding-bottom: 100px;
	}

	#actividad .slide-concatenate .class_slide {
	    padding-bottom: 20px;
	}

	#actividad .slide-concatenate:last-of-type .class_slide {
	    padding-bottom: 100px;
	}

	.content_type_clase_eli_demo .slide_main input {
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}

	.content_type_clase_eli_demo .slide_main input:focus {
    border-top-color: #ef511a99;
    border-right-color: #ef511a99;
    border-bottom-color: #ef511a99;
    border-left-color: #ef511a99;
    outline-width: 0px;
    outline-style: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(239, 81, 26, 0.2);
	}

	.content_type_clase_eli_demo .slide_main input[disabled],
	.content_type_clase_eli_demo .slide_main input[readonly],
	fieldset[disabled] .content_type_clase_eli_demo .slide_main input {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.content_type_clase_eli_demo .slide_main input.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.content_type_clase_eli_demo .slide_main input.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.content_type_clase_eli_demo .slide_main input.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	table {
		margin-bottom: 20px;
	}
/**/

/* Navigators */
	.navigator {
		bottom: -20px;
		left: 0;
		position: absolute;
		width: 100%;
		padding: 0px 97px;
	}

	.navigator .title {
		width: calc(100% - 20px);
		font-size: 1.9rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 4.8rem;
		display: inline-block;
		vertical-align: top;
	}

	.main-navigator {
		padding: 30px 0px 50px;
		width: 100%;
	}

	.navigator .left, .navigator .right {
		width: 50%;
		display: inline-block;
	}

	.navigator .right {
		text-align: right;
	}

	.navigator .slider-control.left,
	.navigator .slider-control.right {
		display: none;
		height: auto;
		width: 100%;
		background-color: transparent;
		border-radius: 0px;
		margin: 0px;
		opacity: 1;
		text-shadow: none;
		color: #f9bfad;
		font-size: 1.9rem;
		position: relative;
		top: auto;
		left: auto;
		cursor: pointer;
	}

	.navigator .slider-control.left:before,
	.navigator .slider-control.right:after {
		display: none;
		font-family: 'FontAwesome';
		position: absolute;
		margin-top: 0;
		background: none;
		color: #f9bfad;
		border-radius: 120px;
		width: 48px;
		height: 48px;
		line-height: 4.8rem;
		text-align: center;
		font-size: 4.8rem;
	}

	.navigator .slider-control.left {
		padding-left: 58px;
		
	}
	.navigator .slider-control.right {
		left: 0;
		padding-right: 58px;
		
	}
	.navigator .slider-control.left:before {
		content: "\f104";
		left: 0;
		padding-right: 5px;
	}

	.navigator .slider-control.right:after {
		content: "\f105";
		right: 0;
		padding-left: 5px;
	}

	.navigator .slider-control span {
		position: static;
		margin: 0px;
        cursor: pointer;
	}
/**/

/* Navbar */
	.navbar-bottom {
		background: #eee;
		display: none;
	}
	.edit .navbar-bottom {
		display: block;
	}

	.slider-indicators {
	    padding-left: 100px;
	    padding-right: 100px;
	}

	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #f9bfad;
		color: #ffffff;
		opacity: 0.5;
	}

	.slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators li.active,
	.edit .slider-indicators .concat.active {
		opacity: 1;
	}
	.edit .slider-indicators .concat.active {
		color: #f9bfad;
	}

/**/

/* Navbar (Breadcums) */
	.content_type_clase_eli_demo .publisher-navbar {
		position: fixed;
		top: 44px;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(left, #ffffff 0%, #009ba4 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #ffffff 0%,#009ba4 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #ffffff 0%,#009ba4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#009ba4',GradientType=1 );
		width: 100%;
		left: 0;
		height: 58px;
		box-shadow: rgba(0, 0, 0, 0.3) 0px 0 9px;
	}

	.is_app.content_type_clase_eli_demo .publisher-navbar {
		position: sticky;
		top: 0px;
	}

	#top-navigator {
		height: 44px;
		overflow: hidden;
		position: relative;
	}

	#top-navigator.show_left:before, #top-navigator.show_right:after {
        color: #5ebdb2;
        top: 0px;
    }

    #top-navigator.show_left:before {
    	background: linear-gradient(to right, rgba(0, 160, 228, 0.21), transparent);
    }

    #top-navigator.show_right:after {
    	background: linear-gradient(to left, rgba(0, 160, 228, 0.21), transparent);
    }

	.content_type_clase_eli_demo .publisher-navbar .navbar-content {
		max-width: 960px;
		margin: 0 auto;
		padding-left: 90px;
		padding-right: 50px;
	}

	.content_type_clase_eli_demo .logo-publisher {
		display: block;
		margin-left: -48px;
	}
	.content_type_clase_eli_demo .logo-publisher {
		content: " ";
		background-image: url(images/logo-eng.png)!important;
		height: 36px;
		background-repeat: no-repeat;
		width: 100px;
		margin-left: -100px;
		margin-right: 60px;
		float: left;
		background-size: contain;
	}

	.content_type_clase_eli_demo .slider-indicators {
		padding: 0;
		display: inline-block;
		text-align: center;
		position: relative;
		width: 5000px;
		bottom: 0px;
		left: 0px;
		z-index: 0;
		background-color: transparent;
	    color: #00599C;
	}


	.content_type_clase_eli_demo .publisher-navbar .dropdown button, .content_type_clase_eli_demo .publisher-navbar li {
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px 5px;
    text-indent: 0px;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border-radius: 0px;
    border-right: 3px solid #fff;
	}


	.content_type_clase_eli_demo .publisher-navbar .dropdown button {
		display: none;
	}

	.content_type_clase_eli_demo .slider-indicators:after {
		content: '';
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.content_type_clase_eli_demo .slider-indicators li {
		width: 35px;
		height: 35px;
		margin: 0 8px 0 0;
		text-align: center;
		opacity: 1;
		position: relative;
	}

	.content_type_clase_eli_demo .slider-indicators li.active, .content_type_clase_eli_demo .publisher-navbar li:hover {
		opacity: 1;
		background: transparent;
	}

	.slider-indicators li.active, .content_type_clase_eli_demo .publisher-navbar li:hover {
    opacity: 1;
    border-right: 3px solid #009ba4 !important;

	}

	.content_type_clase_eli_demo .publisher-navbar #top-navigator {
		float: none;
		margin-top: 10px;
		display: block;
	}

	.content_type_clase_eli_demo .publisher-navbar .dropdown {
		float: left;
		display: block;
	}

	/*	
	.content_type_clase_eli_demo .publisher-navbar .dropdown button {
		width: auto;
		padding: 0px 10px;
	}
	*/

	.open > .dropdown-menu {
		display: block;
		max-height: 300px;
		overflow-y: auto;
	}

	/*
	.content_type_clase_eli_demo .publisher-navbar .dropdown button {
		border: none;
	}
	*/

	.content_type_clase_eli_demo .publisher-navbar .dropdown button:focus {
		outline: none;
	}

	.content_type_clase_eli_demo .publisher-navbar .dropdown li {
		display: list-item;
		width: auto;
		background: none;
	}

	.content_type_clase_eli_demo .publisher-navbar .dropdown li a {
		color: #000000;
   	 font-family: 'Raleway', Georgia, serif;
   	 font-size: medium;
	}

	.content_type_clase_eli_demo .publisher-navbar .dropdown .caret {
		border-color: #000000 transparent transparent transparent;
		margin-left: 6px;

	}
/**/

/*TOC*/

#indice .unit-content .header {
    background-image: url(images/portadilla-eli.jpg)!important;
}

body:not(.isTablet) #indice .units ul li:hover, #indice .units ul li:focus, #indice .units ul li.active {
    background: #FFE01C;
}

#indice .units ul li {
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 1px;
    border-radius: 0px;
    cursor: pointer;
}

#indice .units ul li.active:not(.disabled), body:not(.isTablet) #indice .units ul li:hover:not(.disabled), #indice .units ul li:focus:not(.disabled) {
    border-left: 10px solid #fff;
    background: #009ba4;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover, a:active, a:focus {
    color: #FFE01C; 
    font-weight: 700;
}

#indice .unit-content {
    border-radius: 0px;
    border: 1px solid #e0dfdf;
}

#indice .unit-content .actividades .item .title {
    font-weight: 400;
}

body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title, body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
    font-weight: 900;
    text-transform: none;
    font-size: 2rem;
}

#indice .units ul li a .title {
    color: #fff;
    text-transform: none;
    font-weight: 100;
}

#indice .unit-content .header .title {
    font-family: Gotham;
    color: #009ba4;
    text-transform: none;
    font-weight: 800;
    font-size: 30px;
    float: left;
    height: 60px;
    line-height: 23px;
    margin: 15px 140px 20px 17px;
    z-index: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



	.btn {
		font-size: 16px;
	}

.content_type_clase_sm_activities .btn-primary, .btn-primary.disabled, .btn-primary.disabled:focus {
    margin-top: 0px;
    background-color: #009ba4;
    border-radius: 0px;
}


/* Pagination */

.js-slide-wrapper > .header .single-pagination {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 75px;
	height: 75px;
	background: #5ebdb2;
	color: #ffffff;
	font-size: 4.5rem;
	line-height: 4.5rem;
	padding: 2px 16px 2px 2px;
	font-family: 'Raleway', Georgia, serif;
	font-weight: bold;
	text-align: center;
	border-radius: 0 0 120px 0;
}

#actividad .workspace label {
	font-size: 20px;
}



/*memory*/

.workspace.memory .front {
    background: url(/useruploads/r/a/91113120/activity_other_imported/cover_memory2.png) center center / 120px auto no-repeat !important;
}

.memory .bck-i-fullscreen-wrapper {
    margin-left: -20px;
    width: 150px;
    padding: 0px;
}

#actividad .memory .box p {
    display: block;
    margin-top: 0px;
   margin-left: -8px;
}

#actividad .workspace.memory .box {
    padding: 0px !important;
}

#actividad .workspace.memory .opcion img {
    margin-left: -8px !important;
    max-width: 136px;
    max-height: 136px !important;;
}
/*fin memory*/

/*CRUCIGRAMA*/

.content .crucigrama ol li:before, .cke_contents ol li:before {
    content: counter(bck-li-counter)'';
    margin-left: -20px;
}

.slide.crosswords-puzzle .enunciados {
    width: 300px;
    padding: 10px;
}


/* Iconos */

#actividad .player.audio {
	background: url(images/logo-eli-audio.png) 0 0 no-repeat;
	background-size: contain;
	width: 36px;
	height:24px;
	border-radius: 0;
	vertical-align: middle;

}

#actividad .player.video {
	background: url(images/logo-eli-audio.png) 0 0 no-repeat;
	background-size: contain;
	width: 36px;
	height:24px;
	border-radius: 0;
	vertical-align: middle;

}

#actividad .bck-file-attach img {
	display: none;
}


/*negrita*/
b, strong {
    font-weight: bold;
}


/* CKEDITOR */

/*TITULOS*/

	.bck-title1,
	.bck-title2,
	.bck-title3,
	.bck-title-activity {
		font-weight: bold;
	 	color: #5ebdb2;
	}

	.bck-title1,
	.bck-title-activity {
    font-size: 2.4rem;
    font-weight: 400;
    clear: both;
    padding: 10px 40px 10px 115px;
    margin-bottom: 25px;
    background: #5ebdb2;
    color: #ffffff;
    margin-left: -120px;
    border-radius: 0 40px 40px 0;
    display: inline-block;
}

	.bck-title2 {
		font-size: 2.0rem;
		clear: both;
		padding: 10px 20px 0px 0;
		margin-bottom: 20px;
		color: #6099b9;
    	border-bottom: 10px solid #fff;
	}

	.bck-title3 {
		font-size: 1.6rem;
	}

	/*Tit Actividades*/
	.bck-title4 {
    font-family: Gotham;
    font-size: 3rem;
    letter-spacing: 0.5px;
    color: #F1592A;
    font-weight: bold;
    border-bottom: 13px double #F1592A;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

	/*Tit Actividades 2*/
	.bck-title5 {
    font-family: Gotham;
    font-size: 3.5rem;
    padding-bottom: 5px;
    font-weight: 100;
    color: #6099B9;
    border-bottom: 12px solid #fff;
}

/*Tit LovingLondon*/
	.bck-title6 {
    font-size: 26px;
    font-family: Monofonto;
    text-decoration: underline;
    text-decoration-color: #cf041c;
	}

/*Tit-BLANCO-LovingLondon*/
	.bck-title7 {
	color: #FFF;
    font-size: 26px;
    font-family: Monofonto;
    text-decoration: underline;
    text-decoration-color: #fff;
	}

	/*Tit-NewYork*/
	.bck-title8 {
    color: #FFF;
    font-family: sans-serif;
    background-color: #3B57A7;
    font-weight: 700;
    width: fit-content;
    border-radius: 0px 10px 10px 0px;
    margin-left: -120px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 120px;
}

/*TitActivid-NewY*/
	.bck-title9 {
    color: #FFF;
    font-family: sans-serif;
    background-color: #949599;
    font-weight: 700;
    border-radius: 0px 10px 10px 0px;
    margin-left: -120px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 120px;
}

/*Tit-rojo*/
.bck-title10 {
	font-size: 24px;
    color: #EE1C25;
    font-weight: bold;
    font-family: Knockout71;
}

/*Tit-blanco*/
.bck-title11 {
	font-size: 24px;
    color: #FFF;
    font-weight: bold;
}

/*Tit-negro*/
.bck-title12 {
	font-size: 24px;
    color: #231F20;
    font-weight: bold;
}

/*Tit-festivalsArefun*/
.bck-title13 {
	font-family: StardosStencil;
	font-size: 24px;
    color: #231F20;
}

/*Tit-festi-subrayado*/
.bck-title15 {
    font-family: StardosStencil;
    font-size: 24px;
    padding-bottom: 3px;
    border-bottom: 3px solid #231f20;
}

/*Tit-festiv-Blanco*/
.bck-title14 {
	font-family: StardosStencil;
	font-size: 24px;
    color: #FFF;
}

/*Tit-Scotland*/
.bck-title16 {
	font-family: Intro-Black-Inline;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
    width: fit-content;
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    height: 55px;
    background: #41515de0;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 10px 20px;
    border: 2px #fff;
    border-style: none dotted;
    margin: auto;
    z-index: 1000;
    margin-top: 25px;
}

.bck-title16:before {
	content: '';
    position: absolute;
    display: block;
    width: 300px;
    height: auto;
    padding: 30px;
    background-color: #41515df0;
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
    right: -40px;
    top: -20px;
    border: 2px #fff;
    border-style: none dotted none none;
}

	/*ENFASIS*/

	.bck-enfasis,
	strong {
		font-weight: bold;
	}

	.content hr,
	.cke_contents hr {
		border: 0;
    	border-top: 8px solid #1BBCB9;
   		border-color: #1BBCB9;
	}


	.bck-enfasis2 {
		color: #18a19a;
   		font-weight: 900;
	}

	.bck-enfasis3 {
		color: #00577F;
	}

	.bck-enfasis4 {
		color: #F1592A;
	}

	.bck-enfasis5 {
		color: #cf041c;
	}

	/*FONTS enfasis*/
	.bck-enfasis6 {
		font-size: 2rem;
		font-family: Monofonto;
		letter-spacing: 1px;
	}

	.bck-enfasis9 {
		font-size: 2rem;
		font-family: Gelato;
		letter-spacing: 1px;
	}

	.bck-enfasis10 {
		font-family: arial,helvetica,sans-serif;
    	letter-spacing: -0.5px;
    	font-size: 1.8rem;
    	font-weight: 600;
	}

	/*Circulo Titulo New york*/
	.bck-enfasis7 {
    background-color: #3B57A7;
    width: 45px;
    height: auto;
    display: block;
    border-radius: 50%;
    padding: 0px;
    text-align: center;
	}

	/*FondoAzul*/
	.bck-enfasis8 {
    background-color: #0174BB;
    padding: 4px 2px;
    color: #fff;
    font-size: 2.2rem;
	}



	/*TOOLTIP*/
	.bck-tooltip, .bck-underline {
    text-decoration: inherit;
    color: #18a19a;
    font-weight: 900;
	}

	/*LISTAS ORDENADAS*/

	.content ol,
	.cke_contents ol {
		list-style: none;
		padding: 0;
		margin: 0 0 20px 0;
	}
	.content ol li,
	.cke_contents ol li {
		counter-increment: bck-li-counter 1;
		position: relative;
		padding-left: 32px;
	}

	.content ol li:before,
	.cke_contents ol li:before {
		content: counter(bck-li-counter)'';
    	position: absolute;
    	margin-left: -20px;
    	font-weight: bold;
    	font-size: 2.0rem;
    	margin-top: -1px;
	}

	#actividad .workspace.matching .box li {
		padding-bottom: 10px;
    	margin-top: 8%;
    	padding: 3px;
	}

	#actividad .workspace.matching .opcion {
    overflow: hidden;
    min-height: 2.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #f1592aa3;
    margin: 2px 0;
    padding: 5px;
    width: 100%;
    float: left;
	}


	#actividad .workspace.matching .box li:before {
    margin-top: -6px;
	}

	/*LISTA NumeroNaranja*/
	#actividad .content .cke_contents .bck-ol-1,
	#actividad .content .texto_curso .bck-ol-1,
	#actividad .content .workspace ul li .bck-ol-1 {
    list-style-type: none;
    counter-reset: bck-li-counter;
    margin-left: 20px;
	}

	#actividad .content .cke_contents .bck-ol-1 li,
	#actividad .content .cke_contents .bck-ol-1 li,
	#actividad .content .texto_curso .bck-ol-1 li,
	#actividad .popover-content .bck-ol-1 li,
	#actividad .content .workspace ul li .bck-ol-1 li {
    counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    font-weight: 900;
    margin-left: 0px;
    margin-top: 10px;
    color: #00577F;
}


	#actividad .content .cke_contents .bck-ol-1 li:before,
	#actividad .content .texto_curso .bck-ol-1 li:before,
	#actividad .popover-content .bck-ol-1 li:before,
	#actividad .content .workspace ul li .bck-ol-1 li:before {
    content: counter(bck-li-counter);
    width: 26px;
    height: auto;
    position: absolute;
    color: #ef511a;
    margin-left: -30px;
    margin-right: 0px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: -3px;
}


	/*LISTA Letra*/
#actividad .content .cke_contents .bck-ol-2,
#actividad .content .texto_curso .bck-ol-2,
#actividad .content .workspace ul li .bck-ol-2 {
    list-style-type: none;
    counter-reset: bck-li-counter;
    margin-left: 20px;
}

#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .texto_curso .bck-ol-2 li,
#actividad .popover-content .bck-ol-2 li,
#actividad .content .workspace ul li .bck-ol-2 li {
    counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    z-index: 0;
    margin-left: 20px;
    font-size: 2rem;
}

#actividad .content .cke_contents .bck-ol-2 li:before,
#actividad .content .texto_curso ol.bck-ol-2 li:before,
#actividad .popover-content ol.bck-ol-2 li:before,
#actividad .content .workspace ul li ol.bck-ol-2 li:before {
    content: counter(bck-li-counter, upper-alpha)" ";
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    color: #0d5da2;
    margin-left: -25px;
    line-height: normal;
    font-weight: bold;
}

	/*LISTA Letra-minus*/
#actividad .content .cke_contents .bck-ol-4,
#actividad .content .texto_curso .bck-ol-4,
#actividad .content .workspace ul li .bck-ol-4 {
    list-style-type: none;
    counter-reset: bck-li-counter;
    margin-left: 20px;
}

#actividad .content .cke_contents .bck-ol-4 li,
#actividad .content .cke_contents .bck-ol-4 li,
#actividad .content .texto_curso .bck-ol-4 li,
#actividad .popover-content .bck-ol-4 li,
#actividad .content .workspace ul li .bck-ol-4 li {
    counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    z-index: 0;
    margin-left: 20px;
    font-size: 2rem;
}

#actividad .content .cke_contents .bck-ol-4 li:before,
#actividad .content .texto_curso ol.bck-ol-4 li:before,
#actividad .popover-content ol.bck-ol-4 li:before,
#actividad .content .workspace ul li ol.bck-ol-4 li:before {
    content: counter(bck-li-counter, lower-alpha)" ";
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    color: #0d5da2;
    margin-left: -25px;
    line-height: normal;
    font-weight: bold;
    margin-top: -2px;
}

	/*LISTA Numero*/
#actividad .content .cke_contents .bck-ol-3,
#actividad .content .texto_curso .bck-ol-3,
#actividad .content .workspace ul li .bck-ol-3 {
    list-style-type: none;
    counter-reset: bck-li-counter;
    margin-left: 20px;
}

#actividad .content .cke_contents .bck-ol-3 li,
#actividad .content .cke_contents .bck-ol-3 li,
#actividad .content .texto_curso .bck-ol-3 li,
#actividad .popover-content .bck-ol-3 li,
#actividad .content .workspace ul li .bck-ol-3 li {
    counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    z-index: 0;
    margin-left: 0px;
    margin-left: 20px;
    font-size: 2rem;
}

#actividad .content .cke_contents .bck-ol-3 li:before,
#actividad .content .texto_curso ol.bck-ol-3 li:before,
#actividad .popover-content ol.bck-ol-3 li:before,
#actividad .content .workspace ul li ol.bck-ol-3 li:before {
    content: counter(bck-li-counter);
    position: absolute;
    font-size: 2.5rem;
    width: 30px;
    height: auto;
    text-align: right;
    color: #0d5da2;
    line-height: normal;
    margin-left: -38px;
    line-height: unset;
    font-weight: bold;
    margin-top: -1px;
}


/*LISTA Circu-rojo*/
#actividad .content .cke_contents .bck-ol-5,
#actividad .content .texto_curso .bck-ol-5,
#actividad .content .workspace ul li .bck-ol-5 {
   list-style-type: none;
   counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-5 li,
#actividad .content .cke_contents .bck-ol-5 li,
#actividad .content .texto_curso .bck-ol-5 li,
#actividad .popover-content .bck-ol-5 li,
#actividad .content .workspace ul li .bck-ol-5 li {
   counter-increment: bck-li-counter;
   padding-left: 10px;
   position: relative;
   z-index: 0;
   font-weight: 700;
   margin-left: 0px;
   margin-top: 10px;
   font-size: 2rem;
}


#actividad .content .cke_contents .bck-ol-5 li:before,
#actividad .content .texto_curso .bck-ol-5 li:before,
#actividad .popover-content .bck-ol-5 li:before,
#actividad .content .workspace ul li .bck-ol-5 li:before {
    content: counter(bck-li-counter);
    width: 28px;
    height: auto;
    position: absolute;
    color: #ffffff;
    background: #D2232B;
    margin-left: -32px;
    margin-right: 0px;
    border-radius: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

	/*LISTAS DESORDENADAS*/

	.texto_curso ul li,
	.workspace ul li ul li,
	.cke_contents ul li {
		position: relative;
		padding-left: 18px;
		margin-bottom: 20px;
	}

	.texto_curso ul li:before,
	.workspace ul li ul li:before,
	.cke_contents ul li:before {
    background-color: #231F20;
    height: 1.5px;
    width: 8px;
    margin-top: 15px;
    border-radius: 0px;
    margin-left: -18px;
}

	.content figure:first-child:last-child,
	.content .js--row figure,
	.cke_contents figure:first-child:last-child,
	.cke_contents .js--row figure {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}

	.content figure figcaption,
	.cke_contents figure figcaption {
		text-align: left;
		margin-top: 10px;
	}

	.cke_contents table:not(.rf-tablegrid),
	.content table:not(.rf-tablegrid) {
		border: 1px solid #CBCCCD;
	}

	.cke_contents table:not(.rf-tablegrid) td,
	.cke_contents table:not(.rf-tablegrid) th,
	.content table:not(.rf-tablegrid) td,
	.content table:not(.rf-tablegrid) th {
		border: 1px solid #CBCCCD;
		padding: 7px;
	}

	.cke_contents table:not(.rf-tablegrid) caption,
	.content table:not(.rf-tablegrid) caption {
		margin-bottom: 10px;
	}

	.bck-td {
		background: #dcdcdc;
	}


	/*CAJAS*/

	.bck-box {
		margin-bottom: 30px;
	}
	.bck-box.center {
		margin-left: auto;
		margin-right: auto;
	}

	.bck-box .bck-title {
		font-size: 2.5rem;
		margin-bottom: 10px;
	}
	.bck-box .bck-title1,
	.bck-box .bck-title2 {
		border-left: 0;
		margin-left: 0;
		padding: 0;
		margin-bottom: 10px;
	}

	.bck-box.box-1 {
		border: 0px;
    	background: #000;
    	padding: 25px;
    	position: relative;
    	margin-top: 0px;
    	border-radius: 0px;
	}

	.bck-box.box-1 hr {
		border: 0;
		display: block;
		border-top: 1px solid #5ebdb2;
	}

	.bck-box.box-1 .bck-title {
		color: #f9bfad;
		font-size: 2.4rem;
	}

	.bck-box.box-1 .bck-title1 {
		font-size: 3.0rem;
		margin-left: -40px;
		padding: 4px 20px 4px 40px;
	}
	.bck-box.box-1 .bck-title2 {
		font-size: 2.0rem;
		font-weight: 400;
		color: #706f6f;
		margin-bottom: 10px;
	}

	.bck-box.box-2,
	.bck-box.box-3  {
		border: 0;
		padding: 20px;
		font-size: 1.4rem;
		position: relative;
		margin-bottom: 40px;
		border-radius: 40px;
		box-shadow: 0 0 30px 0px rgba(0,0,0,.1);
	}

	.bck-box.box-2 {

	}


	.bck-box.box-3 {
		margin-bottom: 80px;
	}

	.bck-box.box-2 .bck-title,
	.bck-box.box-2 .bck-title1,
	.bck-box.box-3 .bck-title,
	.bck-box.box-3 .bck-title1 {
		color: #f9bfad;
		background: none;
		font-size: 1.8rem;
		margin-bottom: 20px;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
	}

	.bck-box.box-2 .bck-title,
	.bck-box.box-3 .bck-title {
		margin-top: -20px;
		margin-left: -20px;
		margin-right: -20px;
		border-radius: 40px 40px 0 0 ;
		padding: 14px 20px 10px;
		color: #ffffff;
		background: #f9bfad;
		font-weight: 400;
	}
	.bck-box.box-3 .bck-title {
		background: #5ebdb2;
	}

	.bck-box.box-2 .bck-title p,
	.bck-box.box-3 .bck-title p {
		margin-bottom: 0;
	}

	.bck-box.box-2 .bck-title2,
	.bck-box.box-3 .bck-title2,
	.bck-box.box-2 .bck-title3,
	.bck-box.box-3 .bck-title3 {
		color: #f9bfad;
		margin-bottom: 10px;
		font-family: 'Raleway', sans-serif;
		font-size: 1.6rem;
		font-weight: bold;
	}
	.bck-box.box-2 .bck-title3,
	.bck-box.box-3 .bck-title3 {
		font-size: 1.4rem;
	}
	.bck-box.box-3 .bck-title1,
	.bck-box.box-3 .bck-title2,
	.bck-box.box-3 .bck-title3 {
		color: #5ebdb2;
	}

	.bck-box.box-2 hr,
	.bck-box.box-3 hr {
		border: 0;
		display: block;
		border-top: 2px solid #f9bfad;
	}

	.bck-box.box-3 hr {
		border-top-color: #5ebdb2;
	}


	.bck-box.box-2 ul li:before {
		font-family: 'FontAwesome';
		content:"\f00c";
		color: #f9bfad;
		background: none;
		margin-top: -2px;
		margin-left: -24px;
		font-size: 2.0rem;
	}


	.bck-box.bck-box-4 {
    margin-top: 10px;
	}

	.bck-box-4 .bck-title {  
	}

	.bck-box.bck-box-4 .bck-content {
    padding: 5px;
    border: 4px solid #ef511a;
    text-align: center;
	}

	.bck-box.bck-box-4 p {
	margin-bottom: 2px;
	}

	/*Caja 5 - CajaNaranja*/
	.bck-box.bck-box-5 {
    	background-color: #F1592A;
	}

	.bck-box-5 .bck-title {  
		color: #FFF,
		font-size: 2.5rem;
		font-weight: 700;
	}

	.bck-box.bck-box-5 .bck-content {
    padding: 10px;
    border: 0px;
    color: #FFF;
	}

	/*Caja 6 - CajaAzul*/
	.bck-box.bck-box-6 {
    	background-color: #00577F;
	}

	.bck-box-6 .bck-title {  
		color: #FFF,
		font-size: 2.5rem;
		font-weight: 700;
	}

	.bck-box.bck-box-6 .bck-content {
    padding: 10px;
    border: 0px;
    color: #FFF;
	}

	/*Caja 7 - CajaBlanca*/
	.bck-box.bck-box-7 {
    	background-color: #FFF;
    	margin-bottom: 0px;
	}

	.bck-box.bck-box-7 .bck-content {
    padding: 10px;
    border: 2px double #FFF;
	}

	/*Caja 8 - CajaNegra*/
	.bck-box.bck-box-8 {
   		margin-left: auto;
    	padding: 15px 15px;
    	margin-right: auto;
   		color: #fff;
    	background: #000;  	
	}

	/*Caja 9 - CajaRojaBordes*/
	.bck-box.bck-box-9 {
    margin-left: auto;
    padding: 15px 15px;
    margin-right: auto;
    color: #fff;
    background: #D41F27;
    box-shadow: 0 0 0 5px #FFF, 0 0 0 8px #D41F27, 0 0 0 0px #444, 0 0 0 0px #000;
    -moz-box-shadow: 0 0 0 5px #FFF, 0 0 0 8px #D41F27, 0 0 0 0px #444, 0 0 0 0px #000;
    -webkit-box-shadow: 0 0 0 5px #FFF, 0 0 0 8px #D41F27, 0 0 0 0px #444, 0 0 0 0px #000;
	}

	/*Caja 10 - CajaNEWyork*/
	.bck-box.bck-box-10 {
    	background-color: #000;
    	color: #fff;
    	font-family: helvetica;
    	font-weight: 700;
    	font-size: 32px;
    	margin-top: -60px;
    	width: 100%;
    	margin-left: -20px;
    	height: auto;
    	padding: 20px;
	}

	.bck-box.bck-box-10 .bck-content {
    border: 0px;
	}

	/*Caja 11 - CajaPuntosAzul*/
	.bck-box.bck-box-11 {
    	border: 6px dotted #1B69B2;
    padding: 15px 20px 5px 20px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
	}

	/*Caja 12 - CajaPuntosNegro*/
	.bck-box.bck-box-12 {
    	border: 6px dotted #231F20;
    padding: 15px 20px 5px 20px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
	}

	/*Caja 13 - CajaPuntosblanco*/
	.bck-box.bck-box-13 {
    	border: 6px dotted #FFF;
    padding: 15px 20px 5px 20px;
    background-color: #ffffff00;
    margin-left: auto;
    margin-right: auto;
	}

	/*Caja 14 - CajaPuntosRojo*/
	.bck-box.bck-box-14 {
    	border: 6px dotted #AF292F;
    padding: 15px 20px 5px 20px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
	}

	/*Caja 15 - CajaPuntosVerde*/
	.bck-box.bck-box-15 {
    	border: 6px dotted #8CC63F;
    padding: 15px 20px 5px 20px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
	}

	/*Caja 16 - CajaPuntosNaranja*/
	.bck-box.bck-box-16 {
    	border: 6px dotted #F7941D;
    padding: 15px 20px 5px 20px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
	}

	/*Caja 17 - CajaJapon1*/
	.bck-box.bck-box-17 {
    	
	}

	.bck-box-17 .bck-title {  
		font-size: 2.5rem;
    	margin-bottom: -52px;
    	padding: 10px 20px 0px 15px;
    	border-radius: 0px 0px 10px;
    	background: #fff;
    	width: fit-content;
    	height: auto;
    	position: relative;
    	color: #F06685;
    	font-weight: 700;
	}

	.bck-box.bck-box-17 .bck-content {
    	padding: 15px;
    	padding-top: 45px;
    	text-align: left;
   		border-radius: 20px;
    	background-color: #FCDEE0;
	}

	/*Caja 18 - CajaJapon2*/
	.bck-box.bck-box-18 {
    	
	}

	.bck-box-18 .bck-title {  
		font-size: 2.5rem;
    	margin-bottom: -52px;
    	padding: 10px 20px 0px 15px;
    	border-radius: 0px 0px 10px;
    	background: #fff;
    	width: fit-content;
    	height: auto;
    	position: relative;
    	color: #FCB12B;
    	font-weight: 700;
	}

	.bck-box.bck-box-18 .bck-content {
    	padding: 15px;
    	padding-top: 45px;
    	text-align: left;
   		border-radius: 20px;
    	background-color: #FEE5BC;
	}


	/*Caja 19 - CajaJapon3*/
	.bck-box.bck-box-19 {
    	
	}

	.bck-box-19 .bck-title {  
		font-size: 2.5rem;
    	margin-bottom: -52px;
    	padding: 10px 20px 0px 15px;
    	border-radius: 0px 0px 10px;
    	background: #fff;
    	width: fit-content;
    	height: auto;
    	position: relative;
    	color: #00B0A2;
    	font-weight: 700;
	}

	.bck-box.bck-box-19 .bck-content {
    	padding: 15px;
    	padding-top: 45px;
    	text-align: left;
   		border-radius: 20px;
    	background-color: #D0EBE8;
	}

	/*Caja 20 - CajaJapon4*/
	.bck-box.bck-box-20 {
    	
	}

	.bck-box-20 .bck-title {  
		font-size: 2.5rem;
    	margin-bottom: -52px;
    	padding: 10px 20px 0px 15px;
    	border-radius: 0px 0px 10px;
    	background: #fff;
    	width: fit-content;
    	height: auto;
    	position: relative;
    	color: #98276B;
    	font-weight: 700;
	}

	.bck-box.bck-box-20 .bck-content {
    	padding: 15px;
    	padding-top: 45px;
    	text-align: left;
   		border-radius: 20px;
    	background-color: #E2CBD6;
	}

	/*Caja 21 - CajaJapon5*/
	.bck-box.bck-box-21 {
    	
	}

	.bck-box-21 .bck-title {  
		font-size: 2.5rem;
    	margin-bottom: -52px;
    	padding: 10px 20px 0px 15px;
    	border-radius: 0px 0px 10px;
    	background: #fff;
    	width: fit-content;
    	height: auto;
    	position: relative;
    	color: #005780;
    	font-weight: 700;
	}

	.bck-box.bck-box-21 .bck-content {
    	padding: 15px;
    	padding-top: 45px;
    	text-align: left;
   		border-radius: 20px;
    	background-color: #97BBD3;
	}


	#iframe_div.scorm {
    width: 95% ! important;
    height: 95% ! important;
    top: 3% ! important;
    left: 3% ! important;
    background-color: #CCCCCC;
	}


/*pop-up*/

.info-template .info-title {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    color: #ffffff;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    cursor: pointer;
}

.info-template .info-icon {
    position: absolute;
    top: 0;
    left: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    -webkit-box-shadow: 0 0 2px #555;
    -moz-box-shadow: 0 0 2px #555;
    box-shadow: 0 0 2px #555;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #0c98a0;
    background: #fff;
    color: #019ba4;
    font-family: 'FontAwesome';
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.info-template.shown {
    background: #fff;
    background: -moz-linear-gradient(135deg,#029ca5 0,#14a3ab 100%);
    background: -webkit-linear-gradient(135deg,#029ca5 0,#14a3ab 100%);
    background: -webkit-linear-gradient(135deg,#029ca5 0,#14a3ab 100%);
    background: -moz-linear-gradient(135deg,#029ca5 0,#14a3ab 100%);
    background: -o-linear-gradient(135deg,#029ca5 0,#14a3ab 100%);
    background: linear-gradient(135deg,#029ca5 0,#14a3ab 100%);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.info-template {
    position: fixed;
    top: 117px;
    right: 0;
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
    transform: translateX(105%);
    z-index: 1000;
    width: 100px;
    height: auto;
    -webkit-box-shadow: 0 0 2px #555;
    -moz-box-shadow: 0 0 2px #555;
    box-shadow: 0 0 2px #555;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background: #fff;
    padding: 15px 5px 0;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}

.info-template:hover {
	width: 115px;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.info-popover .popover-title:before, .popover-template .popover-title:before {
    content: '\f040';
    position: absolute;
    top: 7px;
    left: 13px;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #029ca5;
    font-family: 'FontAwesome';
    font-size: 18px;
    text-align: center;
    line-height: 22px;
}

.info-popover .popover-title, .popover-template .popover-title {
	color: #029ca5;
}

.popover-template .popover-content {
	    font-size: 2rem;
}





/*----------------------------Secciones--------------------------------*/

/*Colores por secciones del titulo y enfasis libro New York*/

.colorrojo .bck-enfasis7 {
    background-color: #D94B2C;
}

.colorrojo .bck-title8 {
    background-color: #D94B2C;
}

.colorrojo2 .bck-enfasis7 {
    background-color: #fff;
    color: #D94B2C;
}

.colorrojo2 .bck-title8 {
    background-color: #D94B2C;
}

.colorrojo2 .bck-box.bck-box-10 {
    background-color: #D94B2C;
}

.colorverde .bck-enfasis7 {
    background-color: #25753A;
}

.colorverde .bck-title8 {
    background-color: #25753A;
}

.coloramarillo .bck-enfasis7 {
    background-color: #D5A639;
}

.coloramarillo .bck-title8 {
    background-color: #D5A639;
}

.coloramarillo2 .bck-enfasis7 {
    background-color: #fff;
    color: #D5A639;
}

.coloramarillo2 .bck-title8 {
    background-color: #D5A639;
}

.coloramarillo2 .bck-box.bck-box-10 {
    background-color: #D5A639;
}

.colormorado .bck-enfasis7 {
    background-color: #632F7C;
}

.colormorado .bck-title8 {
    background-color: #632F7C;
}

.colorturquesa2 .bck-enfasis7 {
    background-color: #fff;
    color: #18A79D;
}

.colorturquesa2 .bck-title8 {
    background-color: #18A79D;
}

.colorturquesa2 .bck-box.bck-box-10 {
    background-color: #18A79D;
}

.colorturquesa .bck-enfasis7 {
    background-color: #18A79D;
}

.colorturquesa .bck-title8 {
    background-color: #18A79D;
}

.colorverdeclaro .bck-enfasis7 {
    background-color: #71BF44;
}

.colorverdeclaro .bck-title8 {
    background-color: #71BF44;
}

.colorgris .bck-enfasis7 {
    background-color: #818284;
}

.colorgris .bck-title8 {
    background-color: #818284;
}

/*--------------------secciones Tit-Scotland-----------------------------*/

.aboutscotland .bck-title16 {
	background: #bfc9e2d4;
    color: #2464AF;
}

.aboutscotland .bck-title16:before {
	background-color: #bfc9e2d4;
}

.bagpipes .bck-title16 {
	background: #BDA07Ed4;
    color: #FFF;
}

.bagpipes .bck-title16:before {
	background-color: #BDA07Ed4;
	width: 200px;
}

.castles .bck-title16 {
	background: #3B3C40d4;
    color: #FFF;
}

.castles .bck-title16:before {
	background-color: #3B3C40d4;
	width: 208px;
}

.dollythesheep .bck-title16 {
	background: #47663Ed4;
    color: #FFF;
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    padding: 10px 30px;
}

.dollythesheep .bck-title16:before {
	background-color: #47663Ed4;
	-moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    width: 345px;
}

.edinburgh .bck-title16 {
	background: #DECDC1d4;
    color: #433725;
}

.edinburgh .bck-title16:before {
	background-color: #DECDC1d4;
	width: 200px;
}

.food .bck-title16 {
	background: #F79520d4;
    color: #FFF;
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    padding: 10px 30px;
}

.food .bck-title16:before {
	background-color: #F79520d4;
	-moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    width: 200px;
}

.gaelic .bck-title16 {
	background: #1881C1d4;
    color: #FFF;
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.gaelic .bck-title16:before {
	background-color: #1881C1d4;
	width: 185px;
	-moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.highlandgames .bck-title16 {
	background: #C3CBE6d4;
    color: #231F20;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    padding: 10px 30px;
}

.highlandgames .bck-title16:before {
	background-color: #C3CBE6d4;
	-moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    width: 345px;
}













/*Querys*/

@media screen and (max-width: 450px){

.content ol li, .cke_contents ol li {
    counter-increment: bck-li-counter 1;
    position: relative;
    padding-left: 0px;
}

.bck-indent-1 {
    margin-left: 15px;
}

#actividad .carousel-inner .class_slide {
    padding: 10px 5px 0px;
}

#actividad .workspace.chooseblanks .inline-answer a {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #cfcfcf;
    padding: 2px;
    margin: 0 2px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

#actividad .workspace.chooseblanks select {
    border: 0;
    border-bottom: 1px solid #CCC;
    margin-bottom: 3px;
}

.slide.crosswords-puzzle .enunciados {
    border: 0px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    width: 350px;
    padding: 1rem 3rem;
    line-height: 2.1rem;
}

.slide.crosswords-puzzle table.puzzle td {
    width: 15px;
    height: 15px;
}

a#boton_notes {
    display: none;
}
a#boton_borrador {
    display: none;
}
}


@media screen and (max-width: 1099px) {
    .body_clase .content-wrapper {
        max-width: 100%;
    }

    #actividad .content {
        border-radius: 0;
    }

    #actividad .carousel-inner .item-container {
        margin: 0;
        width: 100% !important;
        max-width: none;
        box-shadow: none;
    }

    .ipad #actividad .carousel-inner .item-container {
  		border-right: 1px solid #eee;
    }

    /*logo*/
    .content_type_clase_eli_demo .logo-publisher {
    content: " ";
    background-image: url(images/logo-eng.png)!important;
    height: 51px;
    background-repeat: no-repeat;
    width: 122px;
    margin-left: -112px;
    margin-right: 147px;
    margin-top: -8px;
    float: left;
    background-size: contain;
}


@media screen and (max-width: 992px) {
	#actividad .class_slide {
		padding-right: 30px;
		padding-left: 30px;
	}

	.content_type_clase_eli_demo #actividad .content .header .title h3 {
		margin-left: -30px;
		padding-left: 20px;
		padding-right: 50px;
	}
	.js-slide-wrapper > .header .single-pagination {
		right: 0;
		left: auto;
		border-radius: 0 0 0 120px;
		padding-left: 16px;
		padding-right: 2px;
	}
	.navigator {
		padding-left: 30px;
		padding-right: 30px;
	}
	.content_type_clase_eli_demo .publish {
		padding-left: 25px;
	}
	.content_type_clase_eli_demo .logo-publisher {
		margin-left: -20px;
	}

}

@media screen and (max-width: 767px) {


    #actividad .carousel-inner .class_slide {
        padding: 40px 20px 0px;
    }

    .navigator {
        padding: 0px 20px;
    }

    .bck-img.right, img[style~="float:right"] {
        max-width: 50%
    }

    .bck-img.left, img[style~="float:left"] {
        max-width: 50%
    }
	.content_type_clase_eli_demo .publisher-navbar {
		top: 88px;
	}

	.content_type_clase_eli_demo .logo-publisher {
		margin-right: -20px;
	}

}

@media screen and (max-width: 579px) {
	.bck-row .col-xs-1,
	.bck-row .col-xs-2,
	.bck-row .col-xs-3,
	.bck-row .col-xs-4,
	.bck-row .col-xs-5,
	.bck-row .col-xs-6,
	.bck-row .col-xs-7,
	.bck-row .col-xs-8,
	.bck-row .col-xs-9,
	.bck-row .col-xs-10,
	.bck-row .col-xs-11,
	.bck-row .col-xs-12 {
		width: 100%;
		float: none;
		padding-bottom: 20px;
	}

	#actividad .class_slide {
		text-align: justify;
	}


	.bck-title1, .bck-title2, .bck-title3, .bck-title4, .bck-title5 {
		text-align: left;
	}

#actividad .carousel-inner .item-container {
    padding: 40px 10px 90px;
}	

#actividad .workspace label {
    font-size: 19px;
}

.body_curso #indice .unit-content .header .title {
    font-size: 20px;
    height: auto;
    line-height: 40px;
    margin: 0 0 0 20px;
    position: absolute;
    z-index: 2;
}

#indice .unit-content .header .title {
    font-family: Gotham;
    color: #ffffff;
    text-transform: none;
    font-weight: 500;
    font-size: 30px;
    float: left;
    height: 60px;
    line-height: 23px;
    margin: 15px 140px 20px 17px;
    z-index: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1px;
}

.content_type_clase_eli_demo #actividad .texto_curso, .content_type_clase_eli_demo #actividad .slide_content_type_1 .pregunta .texto_curso {
    font-size: 1.9rem;
}

.body_clase #actividad .carousel-inner .item-container {
    margin-top: 45px;
}

#actividad .content .cke_contents .bck-ol-2 li, #actividad .content .cke_contents .bck-ol-2 li, #actividad .content .texto_curso .bck-ol-2 li, #actividad .popover-content .bck-ol-2 li, #actividad .content .workspace ul li .bck-ol-2 li {
    counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    z-index: 0;
    margin-left: 5px;
    font-size: 1.9rem;
    text-align: left;
}

#actividad .content .cke_contents .bck-ol-3,
#actividad .content .texto_curso .bck-ol-3,
#actividad .content .workspace ul li .bck-ol-3 {
    list-style-type: none;
    counter-reset: bck-li-counter;
    margin-left: 5px;
}

#actividad .content .cke_contents .bck-ol-3 li,
#actividad .content .cke_contents .bck-ol-3 li,
#actividad .content .texto_curso .bck-ol-3 li,
#actividad .popover-content .bck-ol-3 li,
#actividad .content .workspace ul li .bck-ol-3 li {
    counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    z-index: 0;
    margin-left: 0px;
    margin-left: 20px;
    font-size: 1.9rem;
    text-align: left;
}

#actividad .content .cke_contents .bck-ol-4 li,
#actividad .content .cke_contents .bck-ol-4 li,
#actividad .content .texto_curso .bck-ol-4 li,
#actividad .popover-content .bck-ol-4 li,
#actividad .content .workspace ul li .bck-ol-4 li {
    counter-increment: bck-li-counter;
    padding-left: 0px;
    position: relative;
    z-index: 0;
    margin-left: 5px;
    font-size: 1.9rem;
    text-align: left;
}

#actividad .workspace.matching .box li {
    padding-bottom: 0px;
    margin-top: 1%;
    padding: 2px;
}

#actividad .workspace.matching .opcion {
    overflow: scroll;
    min-height: 2.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #f1592aa3;
    margin: 2px 0;
    padding: 5px;
    width: 100%;
    float: left;
}

#actividad .workspace.matching .opcion .destino {
    overflow: scroll;
    min-height: 2.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #f1592aa3;
    margin: 2px 0;
    padding: 5px;
    width: 100%;
    float: left;
}

#actividad .workspace.matching .opcion .origen {
    overflow: hidden;
    min-height: 2.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #f1592aa3;
    
}

#actividad .workspace.matching .block {
    display: block;
    position: static;
    top: 0;
    margin: 2px 0;
    border: 1px solid #fff0;
    float: left;
    width: 100%;
    cursor: pointer;
}


}

@media screen and (max-width: 480px) {

    .bck-img.right, img[style~="float:right"] {
        width: 100%;
    }

    .bck-img.left, img[style~="float:left"] {
        width: 100%;
    }

    #actividad .carousel-inner .item-container {
		padding: 40px 10px 90px;
	}
	.content_type_clase_eli_demo .publisher-navbar .navbar-content {
		padding-left: 20px;
		padding-right: 20px;
	}
	.content_type_clase_eli_demo .publisher-navbar .logo-publisher:before {
		content: none;
		display: none;

	}
	#actividad .carousel-inner .item-container {
		padding-top: 13px;
	}
	.js-slide-wrapper > .header .single-pagination {
		padding-top: 15px;
		font-size: 2.4rem;
		width: 60px;
	}
	.content_type_clase_eli_demo #actividad .content .header .title h3 {
		padding-right: 20px;
		margin-bottom: 20px;
	}

}

/*BK-10860*/
/*
 * Me cargo todos los border que hay por debajo de un ejercicio de cálculo y restauro los necesarios
 *
 */
div.calculo table.marco,
div.calculo table.marco * {
	border:none;
}

.content hr, .cke_contents hr {
    border: 0;
    border-top: 8px solid #1BBCB9;
    border-color: #1BBCB9;
}

.content_type_clase_eli_demo .slide_main input {
    border: 1px solid #ccc !important;
}
